<h1>Nueva Pelicula</h1>

<form method="post">
    <label>Id Pelicula</label>
    <input class="form form-control" type="text" name="idpelicula" />
    <label>Titulo</label>
    <input class="form form-control" type="text" name="titulo" />
    <label>Fecha Lanzamiento</label>
    <input class="form form-control" type="date" name="fechalanzamiento" />
    <label>Duracion Minutos</label>
    <input class="form form-control" type="text" name="duracionminutos" />
    <label>Titulo Etiqueta</label>
    <input class="form form-control" type="text" name="tituloetiqueta" />
    <label>Sinopsis</label>
    <input class="form form-control" type="text" name="sinopsis" />
    <label>Imagen fondo</label>
    <input class="form form-control" type="text" name="imgfondo" />
    <label>Imagen poster</label>
    <input class="form form-control" type="text" name="imgposter" />
    <button class="btn btn-success">
        Crear
    </button>
</form>